{{#if addNewComment}}
<h1>Add Comment</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="words">Comment</label>
        {{input value=words class="form-group" id="words"}}
      </div>
      <div class="form-group">
        <label for="rating">Rating</label>
        {{input value=rating class="form-group" id="rating"}}
      </div>
      <button {{action 'saveComment'}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'reviewFormShow'}}>Add Comment</button>
{{/if}}
