{{#if addNewPost}}
  <h1>New Post</h1>
  <div>
    <form class="form-group center-block">
      <div class="form-group">
        <label for="owner">Author</label>
        {{input value=author class="form-control" id="author"}}
      </div>

      <div class="form-group">
        <label for="title">Title</label>
        {{input value=title class="form-control" id="title"}}
      </div>
      <div class="form-group">
        <label for="body">Body</label>
        {{input value=body class="form-control" id="body"}}
      </div>

      <div class="form-group">
        <label for="image">Image</label>
        {{input value=image class="form-control" id="image"}}
      </div>

      <button {{action 'savePost' post}} class="btn btn-success">Save</button>
    
    </form>
  </div>
{{else}}
  <button {{action 'postFormShow'}} class="btn btn-success">New Post</button>
{{/if}}
