<div class="post-tile center-block">
  <div class="center-block">

    <h2>
      {{post.title}}
    </h2>
    <img src={{post.image}} alt={{post.title}} />
    <p>
      {{post.body}}
    </p>
    <p>
      Written by: {{post.author}}
    </p>
    <div class="admin">
      {{#link-to 'post' post.id class='btn btn-primary btn-small'}}Edit{{/link-to}}
      <button class="btn btn-danger" {{action 'delete' post}}>Delete</button>
    </div>
  </div>
  <h2> Comments </h2>
<ul>
  {{#each post.comments as |comment|}}
    {{comment-tile comment=comment}}
  {{/each}}
</ul>

</div>
